.container
  .row
    .col-md-12
      %form#uploadform{:action => "/wallpaper", :enctype => "multipart/form-data", :method => "post"}
        %label.btn.btn-default.orange-circle-button{:href => ""}
          %input#pic{:type => "file", :name => "wallpaper[]"}/
          %p#buttontext
            Upload a new 
            %br>/
            wallpaper
            %br/
          %span.orange-circle-greater-than
